<!-- public/views/login.hbs -->
<div class="mdl-layout mdl-js-layout mdl-color--grey-100">
    <main class="mdl-layout__content">
        <div class="mdl-card mdl-shadow--6dp">
            <div class="mdl-card__title mdl-color--primary mdl-color-text--white">
                <h2 class="mdl-card__title-text">Cadastro de Usu치rios</h2>
            </div>
            <div class="mdl-card__supporting-text">
                <form action="/users/update" method="post">
                    <input class="mdl-textfield__input" type="hidden" name="id" id="id"
                        value="{{user.id}}" />
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" name="firstname" id="firstname"
                            value="{{user.firstname}}" />
                        <label class="mdl-textfield__label" for="firstname">Nome</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" name="lastname" id="lastname"
                            value="{{user.lastname}}" />
                        <label class="mdl-textfield__label" for="lastname">Sobre Nome</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" name="username" id="username"
                            value="{{user.username}}" />
                        <label class="mdl-textfield__label" for="username">Usu치rio</label>
                    </div>

                    <h5>Usu치rio Ativo:</h5>
                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="active-1">
                        <input type="radio" id="active-1" class="mdl-radio__button" name="isactive" value="1"
                            {{#if user.isactive}}checked{{/if}}>
                        <span class="mdl-radio__label">Ativo</span>
                    </label>
                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="active-2">
                        <input type="radio" id="active-2" class="mdl-radio__button" name="isactive" value="0"
                            {{#unless user.isactive}}checked{{/unless}}>
                        <span class="mdl-radio__label">Inativo</span>
                    </label>

                    <br>

                    <h5>Perfil</h5>
                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="perfil-1">
                        <input type="radio" id="perfil-1" class="mdl-radio__button" name="perfilId" value="1"
                            {{#if user.isadmin}}checked{{/if}}>
                        <span class="mdl-radio__label">Admin</span>
                    </label>
                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="perfil-2">
                        <input type="radio" id="perfil-2" class="mdl-radio__button" name="perfilId" value="2"
                            {{#if user.isimperium}}checked{{/if}}>
                        <span class="mdl-radio__label">Imperium</span>
                    </label>
                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="perfil-3">
                        <input type="radio" id="perfil-3" class="mdl-radio__button" name="perfilId" value="3"
                            {{#if user.isusuario}}checked{{/if}}>
                        <span class="mdl-radio__label">Usu치rio</span>
                    </label>
                    <br>


                    <div class="mdl-card__actions mdl-card--border">
                        <button
                            class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Alterar</button>
                        <span class="mdl-textfield__error">{{ message }}</span>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>